{
  "11111": { "role": "player", "team": "spy",   "label": "Espion 1" },
  "22222": { "role": "player", "team": "spy",   "label": "Espion 2" },
  "33333": { "role": "player", "team": "spied", "label": "Espionné 1" },
  "44444": { "role": "player", "team": "spied", "label": "Espionné 2" },
  "55555": { "role": "admin",  "label": "Maître du jeu" },
  "66666": { "role": "viewer", "label": "Écran spectateur" }
}
